.island {
    width: 17em;
    height: 10em;
    border: 1px solid black;
    border-radius: 1em;
    background-color:greenyellow;
    position: absolute;
    box-shadow: 10px 10px 5px #0c680c;
}
#island_1 {
    top: 3em;
    left: 5em;
}
#island_2 {
    top: 3em;
    left: 24em;
}
#island_3 {
    top: 3em;
    left: 43em;
}
#island_4 {
    top: 3em;
    left: 62em;
}
#island_5 {
    top: 15em;
    left: 5em;
}
#island_6 {
    top: 15em;
    left: 24em;
}
#island_7 {
    top: 15em;
    left: 43em;
}
#island_8 {
    top: 15em;
    left: 62em;
}
.resource, .worker, .council, .cannon {
    width: .75em;
    height: .75em;
    margin: .1em;
    border: 1px solid black;
    border-radius: .2em;
    float:left;
    background-color: white;
}
.grouping_title{
    margin: 0;
    padding: 0;
}
.resources{
    position: absolute;
    top: 1.5em;
    left: 1em; }

.workers {
    position: absolute;
    top: 1em;
    right: 1em;
}
.castles {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.magistrates {
    position: absolute;
    bottom: 1em;
    left: 1em;
}
.filled_group_item {
    background-color: black;
}
.empty_group_item {
    background-color: white;
}
.filled_group_color_1 {
    background-color: red;
}
.filled_group_color_2 {
    background-color: blue;
}
.filled_group_color_3 {
    background-color: green;
}
.filled_group_color_4 {
    background-color: yellow;
}
.filled_group_color_5 {
    background-color: brown;
}
.filled_group_color_6 {
    background-color: purple;
}
