html {
    background-color: deepskyblue;
}
.primary_grouping{
    border: 1px solid blueviolet;
    width: 5.5em;
    height: 3.5em;
    padding: 0;
}

.title, .info {
    padding: 0 0 0 1em;
}

#current_card {
    width: 10em;
    height: 10em;
    border: 1px solid red;
    background-color:white;
    color: black;
    position: absolute;
    top:.5em;
    right: 1em;
}
#debug_box > input {
    background-color: black;
    width: 3em;
}